{% extends "base.html" %}
{% block title %} MatchMovie | Home {% endblock %}

{% block content_1 %}

<div class="container-sm-fluid p-5 my-5 text-center bg-info bg-gradient" >
  <h5>Welcome to</h5>
  <h1 class="display-2"><kbd> MatchMovie </kbd></h1>
  <h6>An Ultimate Place Of Movie Recommendations</h6>
</div>

{% endblock %}


{% block content_2 %}

<div class='container mt-5'>
    <div class="alert alert-primary" role="alert">
      Or Pick One from Popular Movies to See Recommendations: 
    </div>
    <div class='row'>
      {% for movie in popular_movies[:6]%} 
        <a class='col-2' href='/recommendations-{{movie[0]}}' style='text-decoration: none; color:black;'>
          <img src="{{movie[2]}}" class="rounded mx-auto d-block" alt="..." height="210" width="140">
          <p class="text-center"> {{movie[1]}} </p>
        </a>
      {% endfor %}
    </div>
    <div class='row'>
      {% for movie in popular_movies[6:]%} 
        <a class='col-2' href='/recommendations-{{movie[0]}}' style='text-decoration: none; color:black;'>
          <img src="{{movie[2]}}" class="rounded mx-auto d-block" alt="..." height="210" width="140">
          <p class="text-center"> {{movie[1]}} </p>
        </a>
      {% endfor %}
    </div>
</div>
      
{% endblock %}